# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
data/PS_20174392719_1491204439457_log.csv
data/raw/
models/serving/
*.npy

# Docker
.docker/

# Secrets
.env
secret.json
credentials.json
meridian-transactions.json
kibana/secrets/
